# Python Ignore Files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.log

# Virtual Environment Ignore
venv/
env/
*.venv

# Environment Variables Ignore
.env
*.env

# Cache & Temporary Files Ignore
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.bak

# Git Ignore Specific
.gitignore
